<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".dat" mimeType="text/plain"/>
         <mimeMap fileExtension=".dmy" mimeType="text/plain"/>
		 <mimeMap fileExtension=".tmy" mimeType="text/plain"/>
      </staticContent>
   </system.webServer>
</configuration>